@import 'src/styles.scss';

button{
    padding: 0;
    margin: 3px;
    width: 120px;
    height: 120px;
    background-color: $fundo-padrao;
    border: 2px solid;
    border-color: $borda-padrao;
    transition: all 0.5s;
    display: grid;
    align-items: end;
}

img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    grid-column: 1;
    grid-row: 1/3;
}

span{
    opacity: 0;
    transition: opacity 0.35s;
    grid-column: 1;
    grid-row: 2/3;
}

a:hover img{
    opacity: 1;
} 

a:focus img{
    opacity: 1;
}

a:hover button{
    border: solid 2px;
    border-color: rgb(113, 205, 252);
    height: 150px;
    width: 150px;
    cursor: pointer;
} 

a:focus button{
    border: solid 2px;
    border-color: rgb(113, 205, 252);
    height: 150px;
    width: 150px;
    cursor: pointer;
}

a:hover span{
    opacity: 1; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.802), rgba(0, 0, 0, 0.58));
    border: solid linear-gradient;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
}

a:focus span{
    opacity: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.802), rgba(0, 0, 0, 0.58));
    border: solid linear-gradient;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
}

span:hover img{
    opacity: 1;
} 

span:focus img{
    opacity: 1;
}

span:hover button{
    border: solid 2px;
    border-color: rgb(113, 205, 252);
    height: 150px;
    width: 150px;
    cursor: pointer;
} 

span:focus button{
    border: solid 2px;
    border-color: rgb(113, 205, 252);
    height: 150px;
    width: 150px;
    cursor: pointer;
}

span:hover span{
    opacity: 1; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.802), rgba(0, 0, 0, 0.58));
    border: solid linear-gradient;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
}

span:focus span{
    opacity: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.802), rgba(0, 0, 0, 0.58));
    border: solid linear-gradient;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
}

