nav{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:left;
    height: 155px;
    width: auto;
    overflow: visible;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

nav::-webkit-scrollbar{
    display: none;
}

nav::-webkit-scrollbar-thumb{

}