<nav #scroll>
    <app-button 
        (eventoScroll)="scrollAutomatico($event)" 
        texto="Observables" 
        fundoImagem="/assets/observable.jpg"
        rota="observables">
    </app-button>
    <app-button
        (eventoScroll)="scrollAutomatico($event)"
        texto="Formulários" 
        fundoImagem="/assets/forms.jpg"
        rota="forms">
    </app-button>
    <app-button (eventoScroll)="scrollAutomatico($event)"></app-button>
    <app-button (eventoScroll)="scrollAutomatico($event)"></app-button>
    <app-button (eventoScroll)="scrollAutomatico($event)"></app-button>
    <app-button (eventoScroll)="scrollAutomatico($event)"></app-button>
    <app-button (eventoScroll)="scrollAutomatico($event)"></app-button>
    <app-button (eventoScroll)="scrollAutomatico($event)"></app-button>
    <app-button (eventoScroll)="scrollAutomatico($event)"></app-button>
    <app-button (eventoScroll)="scrollAutomatico($event)"></app-button>
    <app-button (eventoScroll)="scrollAutomatico($event)"></app-button>
    <app-button (eventoScroll)="scrollAutomatico($event)"></app-button>
    <app-button (eventoScroll)="scrollAutomaticoEnd($event)"></app-button>
</nav>